# Server Environment Variables
PORT=3000
NODE_ENV=development

# Database Settings (for PostgreSQL in Docker)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=events_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Frontend Backend Proxy
VITE_BACKEND_URL=http://localhost:5000
